<!DOCTYPE html>
 <html lang="en" class="no-js"> 
    <head>
        <meta charset="UTF-8" />
        <title>food</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
   
						<link rel="stylesheet" type="text/css" href="stylee.css">

							<style>
			body
				{
					background-image: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148695092.jpg?w=996&t=st=1698485883~exp=1698486483~hmac=aaf0c96cd330e277c5a3d4c544bc312c1ad8594405f379baa628ac43f605adea');
					background-attachment: fixed;
					background-size: 100% 100%;
				}
		</style>
    </head>
    <body>
		<div id="navbar">	
		</div>
        <div id="container"><br>
			    <div id="login-right">
				<div class="login-margin"></div>
				
				<form  method="post" autocomplete="on" id="signinForm" action="/login"> 
                                <h2>Sign In</h2> 
                                 <input class="form-control" name="email" id="email" type="email" placeholder="Email" required  autofocus >
                                    <input class="short-pass" name="password" id="password" type="password" placeholder="Password" required >       
                               <button class="btn-signin" type="submit" name="login">Sign In</button>
                             
                            </form>
                            <div>
                            <a href="/register" class="text-center new-account">create an account</a>
                            </div>
	
				
				
				
				
				</div>
							
        		<div id="login-left">
				<h1>Welcome to FOOD.</h1>
				
			</div>
			<div class="clear"></div>
			
             
				
                
							
         			<footer>All Rights Reserved TweetHub | Copyright &copy; 2015</footer>

        </div>

    </body>
	
</html>
